#gol {
  margin: 20px auto;
}

svg {
  background-color: #0FF;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.cell {
  stroke-width: .5px;
  stroke: #666;
  fill: #000;
}

